@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap";
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  white-space: nowrap;
  width: 1px;
  position: absolute;
  overflow: hidden;
}

.size__xxs {
  width: 90px !important;
}

.size__xs {
  width: 189px !important;
}

.size__sm {
  width: 234px !important;
}

.size__md {
  width: 388px !important;
}

.size__l {
  width: 482px !important;
}

.size__xs-dropdown {
  width: 138px;
}

.size__sm-dropdown {
  width: 276px;
}

.datepicker input[type="text"] {
  padding-left: 48px;
  background: #fff !important;
  border: 1px solid #a09f9f !important;
}

.datepicker input[type="text"]:hover + .datepicker__icon, .datepicker input[type="text"]:focus + .datepicker__icon {
  border-color: #595959 !important;
}

.datepicker__icon {
  border-radius: 2px;
  padding: 12px;
  background-color: #fff9ea !important;
  border: 1px solid #a09f9f !important;
  border-right: none !important;
}

.datepicker-cell {
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  color: #231f20 !important;
  border: 1px solid #0000 !important;
  font-weight: 600 !important;
}

.datepicker-cell.focused, .datepicker-cell.selected, .datepicker-cell:hover {
  background: #fff9ea !important;
  border: 1px solid #231f20 !important;
  border-radius: 1px !important;
}

.datepicker .days-of-week span {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #000 !important;
}

.custom__dropdown {
  width: 100%;
  height: 40px;
  color: #595959;
  background: #fff;
  border: 1px solid #a09f9f;
  border-radius: 2px;
  justify-content: space-between;
}

.custom__dropdown:focus {
  background: #fafafa;
  border: 1px solid #595959;
  box-shadow: none !important;
  outline: none !important;
}

.custom__dropdown-options {
  width: 100%;
  background-color: #fff;
  top: 99% !important;
  transform: translate3d(0, 0, 0) !important;
}

.custom__dropdown-options ul {
  border: 1px solid #595959;
  border-radius: 2px;
}

.custom__dropdown-options li {
  color: #231f20;
  cursor: pointer;
}

.custom__dropdown-options li:hover, .custom__dropdown-options li:focus {
  background-color: #fffaeb;
  font-weight: 600;
  box-shadow: none !important;
  outline: 1px solid #595959 !important;
}

.custom__dropdown-wrapper {
  position: relative;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea {
  color: #231f20;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #a09f9f !important;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="number"]:hover, input[type="number"]:focus, input[type="password"]:hover, input[type="password"]:focus, textarea:hover, textarea:focus {
  color: #595959 !important;
  box-shadow: none !important;
  background: #fafafa !important;
  border: 1px solid #595959 !important;
  outline: none !important;
}

.link {
  color: #526d7d;
  border-bottom: 1px solid #0000;
  border-radius: 0;
  font-weight: 600;
}

.link__default:hover, .link__default:focus, .link__default:focus-visible {
  border-color: #526d7d !important;
}

.link__icon {
  color: #231f20;
  height: max-content;
  align-items: center;
  display: inline-flex;
}

.link__icon:hover, .link__icon:focus, .link__icon:focus-visible {
  font-weight: 700;
  border-color: #231f20 !important;
}

.link__underlined {
  color: #526d7d;
  border-bottom: 1px solid #526d7d !important;
}

.link__underlined:hover, .link__underlined:focus {
  font-weight: 700;
  border-color: #526d7d !important;
  outline: #526d7d !important;
}

.link__underlined:focus-visible {
  border-color: #526d7d !important;
  outline: #526d7d !important;
}

.custom__radio[type="radio"] {
  box-shadow: none;
  cursor: pointer;
  outline: 1px solid #231f20;
  border: 1px solid #fff !important;
}

.custom__radio[type="radio"]:hover {
  background: radial-gradient(circle, #d9d9d9 60% 30%, #fff 60% 75%);
}

.custom__radio[type="radio"]:checked, .custom__radio[type="radio"]:focus {
  background: radial-gradient(circle, #628396 60% 30%, #fff 60% 75%);
  box-shadow: none !important;
  outline-offset: 0px !important;
  border-color: #0000 !important;
  outline: 1px solid #231f20 !important;
}

.custom__radio[type="radio"]:focus-visible {
  box-shadow: none !important;
  outline-offset: 0px !important;
  border-color: #0000 !important;
  outline: 1px solid #231f20 !important;
}

.custom__radio[type="radio"] + label {
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 2rem;
}

.custom__checkbox[type="checkbox"] {
  cursor: pointer;
  color: #231f20;
  outline-offset: 1px;
  border-width: 1px;
  border-radius: 2px;
  outline: 1px solid #231f20;
  border-color: #fff !important;
}

.custom__checkbox[type="checkbox"]:hover {
  box-shadow: none !important;
  outline-offset: 1px !important;
  background-color: #d9d9d9 !important;
  outline: 1px solid !important;
}

.custom__checkbox[type="checkbox"]:focus {
  background: #628396;
  box-shadow: none !important;
  outline-offset: 2px !important;
  border-color: #000 !important;
  outline: 1.5px solid #526d7d !important;
}

.custom__checkbox[type="checkbox"]:checked {
  color: #628396;
  outline: 1px solid #526d7d;
  box-shadow: none !important;
}

.custom__checkbox[type="checkbox"] + label {
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 2rem;
}

.custom__checkbox-single:checked {
  background-color: #628396 !important;
}

.custom__checkbox-multiple:checked {
  background: #628396 !important;
}

.btn__primary {
  color: #231f20;
  background-color: #ffcd34;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.btn__primary:focus {
  background-color: #e8ae00;
}

.btn__primary:focus-visible {
  outline: none;
}

.btn__primary:hover {
  background-color: #fae094;
}

.btn__primary:active {
  background: #e8ae00;
}

.btn__primary:disabled {
  color: #a09f9f;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.btn__secondary {
  color: #231f20;
  background-color: #0000;
  border: 1px solid #231f20;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.btn__secondary:hover {
  background: #fff;
  border: 1px solid #ffcd34;
}

.btn__secondary:active {
  background: #fff9ea;
  border: 1px solid #ffcd34;
}

.btn__secondary:focus, .btn__secondary:focus-visible {
  background: #fff9ea;
  border: 1px solid #ffcd34;
  outline: none;
}

.btn__secondary:disabled {
  color: #a09f9f;
  background: none;
  border: 1px solid #d9d9d9;
}

.btn__header {
  vertical-align: middle;
  color: #fff;
  border: 1px solid #0000;
  padding: 1rem 2rem;
  font-size: 18px;
  line-height: 24px;
}

.btn__header:focus, .btn__header:focus-visible {
  border: 1px solid #ffcd34;
  outline: 1px solid #595959;
}

/*# sourceMappingURL=index.9d2b84b2.css.map */
